/* Styling main heading for intro page */
.skewedRectangle h1:after {
  content: "";
  position: absolute;
  background: rgb(81, 227, 213);
  height: 35px;
  width: 35px;
  transform: skewX(-20deg);
  -webkit-transform: skewX(-20deg);
  -o-transform: skewX(-20deg);
  -moz-transform: skewX(-20deg);
  top: 5.2%;
  left: 27%;
  z-index: -1;
}

/* Aimed for major html-file styling */

.rectangle {
  counter-reset: li;
  list-style: none;
  font: 14px "Trebuchet MS", "Lucida Sans";
  padding: 0;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}
.rectangle a {
  position: relative;
  display: block;
  padding: 0.4em 0.4em 0.4em 0.8em;
  margin: 0.5em 0 0.5em 2.5em;
  background: #d3d4da;
  color: #444;
  text-decoration: none;
  transition: all 0.3s ease-out;
}
.rectangle a:hover {
  background: #dcdde1;
}
.rectangle a:before {
  content: counter(li);
  counter-increment: li;
  position: absolute;
  left: -2.5em;
  top: 50%;
  margin-top: -1em;
  background: #8fd4c1;
  height: 2em;
  width: 2em;
  line-height: 2em;
  text-align: center;
  font-weight: bold;
}
.rectangle a:after {
  position: absolute;
  content: "";
  border: 0.5em solid transparent;
  left: -1em;
  top: 50%;
  margin-top: -0.5em;
  transition: all 0.3s ease-out;
}
.rectangle a:hover:after {
  left: -0.5em;
  border-left-color: #8fd4c1;
}

/* Aimed for task-06 styling */

#validation-input {
  border: 3px solid #bdbdbd;
}

#validation-input.valid {
  border-color: #4caf50;
}

#validation-input.invalid {
  border-color: #f44336;
}
